body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

h1{
    color: white;

}

span{
    color: yellow;

}
div{
    height: 10rem;
    width: 20rem;
    border: 2px solid yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}