<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
</head>
<body>
 
<section id="home">
    <nav>
        <div class="logo">
            <img src="{{url_for('static',filename ='image/FIT2.png')}}" alt="no image" srcset="">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#home" class="nav-link">Home</a></li>
                <li><a href="#about"class="nav-link">About</a></li>
                <li><a href="#contact"class="nav-link">Contact</a></li>
                <li><a href="#membership"class="nav-link">Membership</a></li> 
            </ul>   
        </div>
    </nav>
    <div id="popbackground" class="background">
    <div id= popform class="hidebox">
        <div class="form-content">
            <span id="closepop" class="close">&times;</span>
            <br>    
            <h2>
                WHERE EVERYBODY FITS IN
                <span>JOIN TODAY!</span>
                </h2>
            <form action="" id="formpop">
            <div class="row">
                 <div class="column">
                <input type="text" name="" id="name" placeholder="First Name "><br>   
                </div>
                <div class="column">
                <input type="text" name="" id="surname" placeholder="Surname">
                </div>
            </div>
            <div class="row">
                <div class="column">
                <input type="phone" name="" id="phone" placeholder="Contact Number">
                </div>
                <div class="column">

                <input type="email" name="" id="email" placeholder="Email">
                </div>
            </div>
          
                <textarea name="" id="" placeholder="Message"></textarea><br><br>   
                <button>Submit</button>
       
            </form>
        </div>
    </div>
</div>  
<div class="quote">
    <h1 >
    <span class="one">Shape It Up</span><br>
    <span class="two">Get Fit Don't Give Up</span><br>
    <span class="three">Fitness is not about being better than someone else It’s about being better than you used to be</span>
    </h1>
    <button id="openform">Join US!</button>
</div>
   
</section>   
<!--End Home -->
<!--transition-->
<section id="transitionone">
    
        <h1> <span>What Seem Impossible Today Will Soon</span> <br> <span id="t1">Become An Warm Up</span> </h1>
        
    
   

</section>
<!--End transition-->
<section id="about">
    <nav>
        <div class="logo">
            <img src="{{url_for('static',filename ='image/FIT2.png')}}" alt="no image" srcset="">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#home" class="nav-link">Home</a></li>
                <li><a href="#about"class="nav-link">About</a></li>
                <li><a href="#contact"class="nav-link">Contact</a></li>
                <li><a href="#membership"class="nav-link">Membership</a></li> 
            </ul>   
        </div>
    </nav>


    <div class="aboutcontent">
        <h1>About Us</h1>
    </div>
</section>
<!--End About -->


<section id="contact">
    <nav>
        <div class="logo">
            <img src="{{url_for('static',filename ='image/FIT2.png')}}" alt="no image" srcset="">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#home" class="nav-link">Home</a></li>
                <li><a href="#about"class="nav-link">About</a></li>
                <li><a href="#contact"class="nav-link">Contact</a></li>
                <li><a href="#membership"class="nav-link">Membership</a></li> 
            </ul>   
        </div>
    </nav>
</section>
<!--End Contact -->
<section id="membership">
    <nav>
        <div class="logo">
            <img src="{{url_for('static',filename ='image/FIT2.png')}}" alt="no image" srcset="">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="#home" class="nav-link">Home</a></li>
                <li><a href="#about"class="nav-link">About</a></li>
                <li><a href="#contact"class="nav-link">Contact</a></li>
                <li><a href="#membership"class="nav-link">Membership</a></li> 
            </ul>   
        </div>
    </nav>
</section>

<!--End Membership-->
 <script src="{{url_for('static', filename='index.js')}}"></script>
</body>
</html> 