<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Membership Page</title>
    <link rel="stylesheet" href="{{url_for('static', filename ='style.css')}}">
</head>
<body>
    
    <nav>
        <div class="logo">
            <img src="{{url_for('static',filename ='image/FIT2.png')}}" alt="no image" srcset="">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="{{url_for('home')}}" class="{{ 'active' if request.endpoint == 'home' else '' }}">Home</a></li>
                <li><a href="{{url_for('about')}} "class="{{ 'active' if request.endpoint == 'about' else '' }}">About</a></li>
                <li><a href="{{url_for('contact')}}"class="{{ 'active' if request.endpoint == 'contact' else '' }}">Contact</a></li>
                <li><a href="{{url_for('membership')}}"class="{{ 'active' if request.endpoint == 'membership' else '' }}">Membership</a></li>
            </ul>
        </div>
    </nav>
  
</body>
</html>